@model HomeViewModel


    @await Html.PartialAsync("Carousel")
<div class="container-fluid down2">
    <div class="row">
        <div class="col-3 sidebar-offcanvas" id="sidebar">
            @await Component.InvokeAsync("CategoryMenu")
            </div>
            <div class="col-9">
                <div class="row">
                    <div class="col-12">
                        <h2>Preferred Products of the week</h2>
                        <h4>Clients preferences - just for you !</h4>
                    </div>
                </div>
                <div class="row down2">
                    @foreach (var product in Model.PreferredProducts)
                    {
                        @Html.Partial("ProductsSummary", product);
                    }
                </div>
                </div>
            </div>
        </div>
